.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0 auto;
}

.footer-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
  box-shadow: 0px 0px 0px 2px #007ACC;
  border-radius: 5px;
  z-index: 1;
  
  &:focus {
    outline: none;
    border: none;
  }
 
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #007ACC;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease;
  }
  
  &:hover::before {
    transform-origin: center left;
    transform: scaleX(1.01);
  }
}

.footer-icon {
  width: 36px;
  height: 36px;
  opacity: 0.87;
}

.footer-a {
  color: #4F4E4D;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-top: 30px;

  & a {
    color: #4F4E4D;

    &:focus {
      outline: none;
    }
  }

  & span {
    color: #29C7AC;
  }
}