.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  overflow: hidden;
}

.st0{
  fill:#FFFFFF;
}
.st1{
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:60;
  stroke-miterlimit:10;
}
.st2{
  stroke:#FFFFFF;
  stroke-width:60;
  stroke-miterlimit:10;
}